{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    
    
    {{ form_start(registrationForm, {'attr':{'class': 'form-group'}})}}
    <div class="border border-light rounded-pill bg-secondary p-5 color-white">
        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.prenom, {'attr':{'class': 'form-control border-input border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.nom, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.sexe, {'attr':{'class': 'form-control border border-dark'}})}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.email, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.plainPassword, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>
        </div>
        {# <img src=" {{asset("img/avatar/" ~ registrationForm.avatar.vars.value) }} " id="avatarAffichee" class="rounded mx-auto d-block avatarmidget">
        <a class="btn btn-primary d-block center" id="chargeAvatar"><i class="fas fa-upload"> </i> Charger l'avatar</a> #}
        <div class="form-field col-xs3 col-lg3 col-md2 row-lg4 row-sm3 row-md2 bd-black bd-solid bd-3 p-5 rounded-2 avatar-form">
                <div>
                    <img class="responsive-media mb-2 bd-black bd-solid bd-3 image-avatar-form" src="img/avatar/{{registrationForm.avatar.vars.value}}" alt="Photo de profil" id="avatarAffichee">
                </div>
                <div>
                    {{form_row(registrationForm.avatarFile)}}
                    {{form_errors(registrationForm.avatarFile)}}
                    <a id="chargeAvatar" class="btn btn-upload-image shadow-1 primary rounded-4 btn-large primary mr-2 px-5">
                         Déposer une image
                    </a>
                </div>

            </div>        
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" classform-group="btn">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
    <script src=" {{asset("js/gestionUpload.js")}} " defer></script>
{% endblock %}

