{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    
    
    {{ form_start(registrationForm, {'attr':{'class': 'form-group'}})}}
    <div class="border border-light rounded-pill bg-secondary p-5 color-white">
        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.prenom, {'attr':{'class': 'form-control border-input border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.nom, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.sexe, {'attr':{'class': 'form-control border border-dark'}})}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.email, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>

            <div class="col">
                {{ form_row(registrationForm.plainPassword, {'attr':{'class': 'form-control border border-dark'}}) }}
            </div>
        </div>
        {{ form_row(registrationForm.avatar, {'attr':{'class': 'form-control border border-dark'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" classform-group="btn">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
