{% extends 'base.html.twig' %}

{% block title %}Maillot index{% endblock %}

{% block body %}
    <h1 class="pt-2 text-center">Maillot</h1>
<a class="btn btn-success" href="{{ path('app_maillot_new') }}">Créer un nouveau maillot</a>
    <table class="table">
        <thead>
            <tr>

                <th>Image</th>
                <th>TypeMaillot</th>
                <th>Saison</th>
                <th>Matiere</th>
                <th>Taille</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Disponibilite</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maillot in maillots %}
            <tr>
                
                <td><img src="/img/maillot/{{ maillot.image }}" width="50px" height="50px" alt=""></td>
                <td>{{ maillot.typeMaillot }}</td>
                <td>{{ maillot.Saison }}</td>
                <td>{{ maillot.matiere }}</td>
                <td>{{ maillot.taille }}</td>
                <td>{{ maillot.prix }}</td>
                <td>{{ maillot.description }}</td>
                <td>{{ maillot.disponibilite }}</td>
                <td>{{ maillot.stock }}</td>
                <td>
                    <a class= "btn btn-info" href="{{ path('app_maillot_show', {'id': maillot.id}) }}">Voir le maillot</a>
                    <a class= "btn btn-warning" href= "{{ path('app_maillot_edit', {'id': maillot.id}) }}">Modif maillot</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas de maillot trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
