{% extends "base.html.twig" %}
{% block body %}
<h1 class="text-center">MAILLOT EN VENTE ACTUELLEMENT :</h1>
{# <img src=  alt="">
<img src="{{ asset('img/maillotbarcaext2022.jpg') }}" width="300" height="300px" alt="">
<img src="{{ asset('img/maillotbarca32022.jpg') }}" width="300" height="300px" alt=""> #}
{# <div class="card mb-3">
  <h3 class="card-header">Maillot 2022-2023 Domicile</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treat  ment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <img src="{{ asset('img/maillotbarcamatchlogo.jpg') }}" class="d-block user-select-none" width="300" height="300px" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
  <img src="{{ asset('img/maillotbarca32022.jpg') }}" class="d-block user-select-none" width="300" height="300px" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div> #}
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillotbarcaext2022.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot extérieur 2022-2023</h5>
        <p class="card-text">Maillot doré qui suit l'équipe du FC Barcelone lors de leurs déplacement à l'exterieur</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillotbarcamatchlogo.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot domicile 2022-2023</h5>
        <p class="card-text">Un maillot qui revient au source des anciens design du barca mais avec une petite touche de nouveau quand même</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillotbarca32022.jpg') }}" width="150" height="180px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Troisième maillot 2022-2023</h5>
        <p class="card-text">Le troisème maillot est un nouveau style avec une croix aux couleurs du barca</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{# <button type="button" class="btn btn-primary">Acheter Le Maillot </button> #}