{% extends 'base.html.twig' %}

{% block title %}Sport index{% endblock %}

{% block body %}
    <h1 class = "pt-2 text-center">Liste des Sports</h1>
    <h1><a class= "btn btn-success" href="{{ path('app_sport_new') }}">Créer un nouveau sport</a></h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom du sport</th>
                <th>Que veux tu faire ?</th>
            </tr>
        </thead>
        <tbody>
        {% for sport in sports %}
            <tr>
                 <td><img src="/img/{{ sport.image }}" width="50px" height="50px" alt=""></td>
                <td>{{ sport.libelle }}</td>
                <td>
                    <a class= "btn btn-info" href="{{ path('app_sport_show', {'id': sport.id}) }}">Voir la fiche</a>
                    <a class= "btn btn-warning" href="{{ path('app_sport_edit', {'id': sport.id}) }}">Modifier le sport</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de sport trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
